<div class="modal-header">
    <h3 class="modal-title">Add a new quest!</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <br>
        <input type="text" class="form-control" placeholder="Quest Name" ng-model="quest.name">
        <br>
        <textarea type="text" class="form-control" placeholder="Quest Objective" ng-model="quest.objective"></textarea>
        <br>
        <textarea type="text" class="form-control" placeholder="Subquest" ng-model="quest.subquest"></textarea>
        <br>
        <input type="text" class="form-control" placeholder="Location" ng-model="quest.location">
        <br>
        <input type="text" class="form-control" placeholder="Monster" ng-model="monsterName">
        <br>
        <button class="btn btn-primary" ng-click="addMonsterToQuest(monsterName)"><span
                class="glyphicon glyphicon-plus"></span> Add Monster
        </button>
        <br>
        <p>Monsters</p>
        <ol class="list-group">
            <li class="list-group-item" ng-repeat="monster in quest.monsters">{{ monster.name }}</li>
        </ol>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Tags</span>
            <input type="text" class="form-control" ng-model="tagName">
        </div>
        <br>
        <button class="btn btn-primary" ng-click="addTagToQuest(tagName)"><span class="glyphicon glyphicon-tag"></span>
            Add
            tag to quest.
        </button>
        <br>
        <p>Your tags:</p>
        <ol class="list-group">
            <li class="list-group-item" ng-repeat="tag in quest.tags">{{ tag.name }}</li>
        </ol>
        <br>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="addQuest()"> Save New Quest</button>
    <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>
