/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.quest-card {
    padding:inherit;
    text-align: center;
    height: 400px;
    width: 100%;
    background-image: url("http://goo.gl/RtNcGo");
}

.quest-card p {
    text-align: left;
    padding-left: 5%;
}

.recipe-card img {
    max-width: 100%;
}


section {
	color: #337ab7;
	text-align: center;
    margin: 1vw;
}

.jumbotron {
    background-size: 1680px;
    background-image: url(http://goo.gl/BMSLm9);
    text-color: #fff;
    text-shadow: black 1px 1px 3px;
}

.btn {
    background-color:#e88332;
    border-color: #fff;
    color:#fff;
    border-radius: 1vw;
}

.jumbotron h1 {
    color: #fff;
}

.jumbotron p {
    color: #fff;
}

.background {
    background-image: url(http://subtlepatterns.com/patterns/footer_lodyas.png);
}

.monster-info{
    display: inline-block;
    text-align: center;
}



