<div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-primary container-fixed">
            <div class="panel-heading"><h1 class="panel-title">{{ quest.name }}</h1></div>
            <div class="panel-body quest-card">
                <img src="{{ quest.photo }}">

                <p><strong>Objective:</strong> {{ quest.objective }}<br>
                    <strong>Subquest:</strong> {{ quest.subquest }} <br>
                <h3>Monsters</h3>
                <div class="monster-info" ng-repeat="monster in quest.monsters">
                    <h5>{{ monster.name }}</h5>
                    <img src="{{ monster.photo }}"></div>
                <br>
                <strong>Location:</strong> {{ quest.location }}<br>
            </div>
        </div>
    </div>

<button class="btn btn-danger" ng-click="deleteRecipe()"><span class="glyphicon glyphicon-trash"></span> Delete Recipe</button>